.ytp-bezel {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 52px;
  height: 52px;
  z-index: 19;
  margin-left: -26px;
  margin-top: -26px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 26px;
  -moz-animation: ytp-bezel-fadeout 0.5s linear 1 normal forwards;
  -webkit-animation: ytp-bezel-fadeout 0.5s linear 1 normal forwards;
  animation: ytp-bezel-fadeout 0.5s linear 1 normal forwards;
  pointer-events: none;
}
.ytp-bezel-icon {
  width: 36px;
  height: 36px;
  margin: 8px;
  svg {
    display: none;
  }
}
.ytp-svg-shadow {
  stroke: #000;
  stroke-opacity: 0.15;
  stroke-width: 2px;
  fill: none;
}
.ytp-svg-fill {
  fill: #fff;
}
.play-mode .icon-play {
  display: block;
}
.pause-mode .icon-pause {
  display: block;
}
@keyframes ytp-bezel-fadeout {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}
// controls start
.ytp-chrome-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 12px;
  height: 36px;
}
.ytp-play-button {
  width: 46px;
  height: 36px;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  &:focus {
    outline: none;
  }
  svg path {
    transition: all 0.5s;
  }
}
.is-playing .ytp-play-button svg path {
  d: path("M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z");
}
// controls end
